@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #131316;
    color: #ffffff;
    font-family: Roboto;
    font-size: clamp(1.125rem, 2vw, 2rem);
    padding: 0;
    margin: 0;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 60vh;
}

.scroll-hidden {
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
}

.scroll-show {
    opacity: 1;
    filter: blur(0);
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}